.navbar-custom {
  background-color: #1e1e1e;  
}

.navbar .nav-link {
  color: #fdf7f7a1; 
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: rgb(255, 253, 253); 
}

.navbar .nav-link.active {
  color: #FFFFFF; 
}

.navbar-toggler {
 font-size: 30px;            
  color: #EEE;                  
  border: 5px solid #EEE;  
  background-color: #1e1e1e;
  border-radius: 20%;
}