.home-container {
  min-height: 90vh;
}

img.object-cover {
  object-fit: cover;
}

.overlay {
  opacity: 30%;
  z-index: 1;
}

.style-width-90 {
  width: 90%;
}

.border-bottom {
  border-bottom-width: 4px solid;
}

.btn {
  background-color: #0d6efd;
}